:root {
  --accent-color: #28a745;
  --main-text-color: #333333;
  --second-text-color: #ffffff;
  --main-bg-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
}

.title-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* components */
.container {
  width: 1360px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #333333;
}

.header .container {
  padding-left: 50px;
  padding-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 1.21;
  color: var(--second-text-color);
}
.accent {
  margin-right: 12px;
  color: var(--accent-color);
}
.logo-icon {
  margin-right: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 1.56;
  color: var(--second-text-color);
}

/* hero */

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  padding-top: 259px;
  padding-bottom: 284px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1360px;
  margin: 0 auto;

  text-align: center;
}
.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;

  margin-bottom: 45px;
}
.hero-text {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;

  margin-bottom: 29px;
}
.hero-link {
  background-color: var(--accent-color);
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);

  display: inline-flex;
  padding: 10px 30px 9px 27px;
  align-items: center;
  gap: 5px;
}

/* about */

.about {
  padding-top: 40px;
  padding-bottom: 19px;
  background-color: #f4f4f4;
}

.about .container {
  padding-left: 66px;
  padding-right: 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-icon-wraper {
  background-color: var(--accent-color);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-item {
  text-align: center;
  flex-basis: calc((100% - 142px) / 3);
}

.about-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 16px;
}

.about-text {
  line-height: 1.56;
}

/* solution */
.solution {
  background-color: var(--accent-color);
  /* padding-top: 84px;
  padding-bottom: 84px; */
}
.solution-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin: 0 auto;

  padding-left: 0;
}
.solution-img-wrapper {
  max-width: 680px;
}
.solution-text-wrapper {
  max-width: 680px;
}
.solution-toptitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--second-text-color);

  margin-bottom: 5px;
}
.solution-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--second-text-color);

  margin-bottom: 26px;
}
.solution-text {
  font-weight: 400;
  line-height: 1.56;
  color: var(--second-text-color);

  margin-bottom: 17px;
}

.solution-btn {
  display: block;
  line-height: 1.56;
  color: var(--second-text-color);
  cursor: pointer;

  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: var(--accent-color);

  padding: 11px 27px 12px 42px;
}

/* cases */

.cases {
  padding-top: 50px;
  padding-bottom: 48px;

  text-align: center;
}

.cases-toptitle {
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 1.65;
}

.cases-title {
  margin-bottom: 34px;

  font-size: 38px;
  line-height: 48px;
}

.cases-text {
  margin-bottom: 39px;

  line-height: 1.56;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 7px;
}

/* Blog Post */

.blog {
  display: flex;
  background-color: #0284d0;
}

.blog-toptitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-top: 112px;
  margin-left: 30px;
}

.blog-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.2;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 30px;
}

.blog-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 27px;
  margin-right: 46px;
  margin-left: 28px;
}

.blog-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 16px;
  margin-left: 30px;
  display: inline-flex;
  padding: 11px 31px 10px 42px;
  align-items: center;
}


/* Team */

.section-team {
  text-align: center;
  padding-top: 49px;
  padding-bottom: 59px;
}

.team-top-text {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.team-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--main-text-color);
  margin-bottom: 34px;
}

.team-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color);
  margin-bottom: 45px;
}

.team-list {
  display: flex;
  align-items: center;
}

.team-item {
  justify-content: center;
}

.team-item:first-child {
  margin-right: 19px;
}

.team-item:last-child {
  margin-left: 12px;
}

.team-subtitle {
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 12px;
  font-size: 25px;
  line-height: 1.27;
}

.team-bottom-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color);
}

.social-list {
  display: flex;
  gap: 25px;
  position: absolute;
  align-items: center;
  top: 130px;
  left: 102px;
}

.social-link {
  cursor: pointer;
}

.icon-team {
  display: inline-block;
  fill: var(--second-text-color);
  width: 35px;
  height: 35px;
}

.icon-team.linkedin {
  width: 31px;
}

.team-item:nth-child(2) {
  position: relative;
}