.section-team {
  padding-top: 49px;
  padding-bottom: 59px;
  text-align: center;
}

.team-top-text {
  margin-bottom: 16px;
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 1.65;
}

.team-title {
  margin-bottom: 34px;
  color: var(--main-text-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team-text {
  margin-bottom: 45px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.team-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

.team-item {
  justify-content: center;
}

.team-subtitle {
  margin-top: 13px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
}

.team-bottom-text {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.social-list {
  position: absolute;
  top: 130px;
  left: 102px;
  display: flex;
  gap: 25px;
  align-items: center;
}

.social-link {
  cursor: pointer;
}

.icon-team {
  display: inline-block;
  width: 35px;
  height: 35px;
  fill: var(--second-text-color);
}

.icon-team.linkedin {
  width: 31px;
}

.team-item:nth-child(2) {
  position: relative;
}
