<section class="cases" id="cases">
  <div class="container">
    <p class="cases-toptitle">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list gallery">
      <li class="cases-item">
        <a href="./images/cases/big/bussines1-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-1.jpg"
            alt="caseone"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines2-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-2.jpg"
            alt="casetwo"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines3-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-3.jpg"
            alt="casethree"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines4-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-4.jpg"
            alt="casefour"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines5-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-5.jpg"
            alt="casefive"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines6-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-6.jpg"
            alt="casesix"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines7-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-7.jpg"
            alt="caseseven"
            height="214"
            width="320"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines8-3x.jpg">
          <img
            class="cases-img"
            src="./images/cases/cases-8.jpg"
            alt="caseeight"
            height="214"
            width="320"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
