<section class="form">
  <div class="container form-container">
    <img
      class="form-img"
      src="./images/form/form.jpg"
      alt="marketing head"
      width="680"
      height="460"
    />

    <div class="form-callback-wrapper">
      <h2 class="form-title">Request Callback</h2>
      <form class="form-callback">
        <label class="form-callback-label" for="user-name"></label>
        <input
          class="form-callback-name-input"
          id="user-name"
          name="user-name"
          type="text"
          placeholder="Enter your name"
          required
        />
        <label class="form-callback-label" for="email"></label>
        <input
          class="form-callback-email-input"
          id="email"
          name="email"
          type="email"
          placeholder="Enter email*"
          required
        />
        <button class="form-callback-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
