<section class="slick">
  <div class="container">
    <div class="responsive">
      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>

      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>

      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>

      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>

      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>

      <div class="slick-card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam
          consequatur quisquam ratione corporis recusandae, dolores enim.
          Temporibus perspiciatis accusantium placeat sequi explicabo ratione id
          voluptate maiores aliquam illum deleniti similique, ipsum molestias
          nobis pariatur. Incidunt eaque unde, odio tenetur, nemo maxime
          deleniti inventore, exercitationem recusandae velit doloribus facilis
          maiores.
        </p>
      </div>
    </div>
  </div>
</section>
