<section class="section-team">
  <div class="container">
    <p class="team-top-text">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-image"
          src="./images/team/team-1.jpg"
          alt="our teammate"
          width="420"
          height="280"
        />
        <h3 class="team-subtitle">John Doe</h3>
        <p class="team-bottom-text">President</p>
      </li>
      <li class="team-item">
        <img
          class="team-image"
          src="./images/team/team-2.jpg"
          alt="our teammate"
          width="428"
          height="286"
        />
        <ul class="social-list list">
          <li class="social-item">
            <a class="social-link link">
              <svg class="icon-team">
                <use href="./images/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link link">
              <svg class="icon-team">
                <use href="./images/icons/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link link">
              <svg class="icon-team">
                <use href="./images/icons/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link link">
              <svg class="icon-team linkedin">
                <use href="./images/icons/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
        <h3 class="team-subtitle">Jane Doe</h3>
        <p class="team-bottom-text">Vice President</p>
      </li>
      <li class="team-item">
        <img
          class="team-image"
          src="./images/team/team-3.jpg"
          alt="our teammate"
          width="420"
          height="280"
        />
        <h3 class="team-subtitle">Steve Smith</h3>
        <p class="team-bottom-text">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
